<link rel="stylesheet" href="/styles/barraNav.css">
<nav class="navbar">
    <a href="/frontend/pages/index.html" class="logo"><img src="/assets/logo.png" alt="logo"></a>
    <ul class="items">
        <a href="/frontend/pages/index.html"><ol class="item"><img class="icon" src="/assets/icons/home.png" alt="inicio">Inicio</ol></a>
        <a href="/frontend/pages/regClientes.html"><ol class="item"><img class="icon" src="/assets/icons/clientes.png" alt="clientes">Clientes</ol></a>
        <ol class="item"><img class="icon" src="/assets/icons/reservas.png" alt="reservas">Reservas</ol>
        <ol class="item"><img class="icon" src="/assets/icons/habitaciones.png" alt="habitaciones">Habitaciones</ol>
        <ol class="item"><img class="icon" src="/assets/icons/servicios.png" alt="servicios">Servicios</ol>
        <ol class="item"><img class="icon" src="/assets/icons/productos.png" alt="productos">Productos</ol>
        <ol class="item"><img class="icon" src="/assets/icons/informe.png" alt="reportes">Reportes</ol>
        <div class="itemsFin">
        <ol class="item"><img class="icon" src="/assets/icons/configuración.png" alt="configuraciones">Configuración</ol>
        <ol class="item"><img class="icon" src="/assets/icons/salir.png" alt="">Cerrar sesión</ol>
        </div>
    </ul>
</nav>