body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 96vh;
  background-image: url(imgs/fondoapp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#caja,
#formularioR {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  height: 80vh;
}
h2 {
  text-align: center;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
}

.btn {
  border-radius: 20px;
  height: 35px;
  background-color: #2f4f4f;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
input {
  border-radius: 20px;
  border: none;
  text-align: center;
  height: 35px;
  width: 300px;
}
p {
  margin: 0%;
  padding: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: inherit;
}

#registro {
  margin: 0%;
  padding: 0%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas iguales */
  gap: 20px; /* espacio entre columnas y filas */
  justify-content: center; /* centra horizontalmente */
}

#tit2 {
  text-align: center; /* lo centra */
  position: relative; /* lo mueve sin afectar otros */
  margin-bottom: 5px; /* espacio controlado debajo */
  top: 10px; /* lo bajas un poco */
}
