/* 🔹 Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%; /* base = 16px */
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: white;
  background: url("/assets/fondoapp.png");
  background-repeat: no-repeat; /* Evita que se repita */
  background-position: center center; /* Centra la imagen */
  background-size: cover; /* Escala la imagen para cubrir toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center; /*centra horizontalmente*/
  height: 100vh;
  flex-direction: column;
}
h2 {
  text-align: center;
  margin-bottom: 5%;
}

input {
  background-color: white;
  border: none;
  margin: 5px;
  border-radius: 16px;
  height: 35px;
  width: 300px;
  text-align: center;
}

a {
  text-decoration: none; /*le quita el subrayado*/
  color: inherit; /*le quita el color del hipervinculo por defecto*/
}

.btn {
  background-color: #31405c;
  height: 35px;
  width: 300px;
  border-radius: 16px;
  border: none;
  color: white;
  cursor: pointer; /*cambia el cursor a la manito cuando me paro sobre el elemento*/
  margin-bottom: 20px;
}
