.containerClientes{

  height: 100vh; /*alto de la pantalla*/
  margin-left: 220px; /*quitando el espacio donde va la barra lateral izquierda*/
  width: calc(
    100% - 300px
  ); /*calcula el ancho completo de la pantalla menos los 220px de la barra lateral*/
}