.containerClientes{

  height: 100vh; /*alto de la pantalla*/
  margin-left: 220px; /*quitando el espacio donde va la barra lateral izquierda*/
  width: calc(
    100% - 300px
  ); /*calcula el ancho completo de la pantalla menos los 220px de la barra lateral*/
}
/*se separa con coma para agregar una nueva clase*/
select, .fecha{
  color: rgb(120, 118, 118);
}

.cuadro{
  width: 100%;
  background-color: white;
}
input, select, .cuadro{
  box-shadow: 4px 4px 10px gray;
}